body {
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    background-color: black;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #333;
    padding: 10px 20px;
}

nav h1 {
    text-align: center;
}

nav h1:hover {
    cursor: pointer;
}

button {
    color: #eeeeee;
    background-color: #3333338a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border-style: none;
    height: 200%;
    width: 80%;
    padding: 5%;
    margin-bottom: 20px;
    transition-duration: 0.3s;
    font-size: 110%;
}

button:hover {
    background-color: #333333;
    color: #eeeeee;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    border-radius: 8px;
    background-color: #3333338a;
    color: #eeeeee;
    padding: 10px;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;
}

.hide {
    opacity: 0;
    display: none;
}

.warn {
    color: #ff4d4d;
    font-weight: bold;
}

#time_capsule_id {
    font-weight: bold;
    color: #ffc852;
}

#time_capsule_id_input {
    margin: 10px;
    color: black;
    width: 200%;
    padding: 10px;
}

#response {
    margin-top: 20px;
    background-color: #3333338a;
    padding: 20px;
    border-radius: 10px;
}

#time_capsule_content {
    text-align: left;
}

#copy-container {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    filter: invert();
}

#my-capsules {
    position: fixed;
    top: 30%;
    right: 0px;
    background-color: #3333338a;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    transition-duration: 0.5s;
    transition-behavior: ease-in-out;
    transform: translateX(130px);
    text-align: center;
}

#my-capsules:hover {
    /* right: -100px; */
    transform: translateX(110px);
    cursor: pointer;
}

#my-capsules h4 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}

#saved-capsules {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
}

#clear-saved-btn {
    align-self: center;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}