<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Time Capsule</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav>
            <h1 onclick="window.location='/'">TimeCapsule</h1>
        </nav>
        <div class="container">
            <div id="content">
                <h2>404 - Page Not Found</h2>
                <pre>
                          '              .            '   `                  _       
              '          '  '               '      '           ` 
_          '       XXXXXXXXXXX    '    '     '             `     
       '       '   X         X  .    ,         '      '    .     
    '              X XX   XX X            ,         '         .  
         XXXXXXXX  X XX   XX X                '         ,        
    .    X      X  X         X   XXXXXXXXXX                    ' 
         X XX   X  X  XX     X   X        X XXXXXXXXXXXXX        
'        X XX   X  X  XX     X   X   XXX  X X           X    '   
   '     X      X  X         X   X   XX   X X    XXXX   X       '
 .    `  X   XX X  X     XX  X   X        X X    XXXX   X    '   
   ,     X   XX X  X     XX  X   X        X X           X        
         X      X  X XXX     X   X   XX   X X           X      ' 
         X      X  X XX      X   X   XX   X X           X        
         X XX   X  X         X   X        X X           X        
         X XX   X  X    XXX  X   X XX     X X           X        
         X      X  X    XX   X   X XX     X X           X        
         X   XX X  X         X   X        X X           X        
         X   XX X  X         X   X        X X           X        
         X      X  X         X   X        X XX          X        
                                                                 
                        ***************                          
                        *404 Not Found*                          
                        ***************                          
                                                                 
                </pre>
            </div>
        </div>
        <div id="toast" class="hide"></div>
    </body>
</html>