<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Time Capsule</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav>
            <h1 onclick="window.location='/'">TimeCapsule</h1>
        </nav>
        <div class="container">
            <div id="content">
                <form action="javascript:void(0)">
                    <label for="time_capsule_id_input">Enter Time Capsule ID:</label>
                    <input type="text" id="time_capsule_id_input" name="time_capsule_id" autocomplete="off"><br>
                    <button type="submit" value="View Time Capsule" onclick="viewTimeCapsule()">
                        View!
                    </button>
                </form>
                <div id="response" class="hide">
                    <span><b><u>Content</u></b></span><br><br>
                    <span id="time_capsule_content"></span>
                </div>
            </div>
        </div>
        <div id="toast" class="hide"></div>
    </body>
</html>