<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Time Capsule</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <nav>
            <h1 onclick="window.location='/'">TimeCapsule</h1>
        </nav>
        <div class="container">
            <div id="content">
                <form action="javascript:void(0)">
                    <label for="time_capsule_id_input">Enter Time Capsule ID:</label>
                    <input type="text" id="time_capsule_id_input" name="time_capsule_id" autocomplete="off"><br>
                    <label for="password">Password (if required):</label>
                    <input type="password" id="password" name="password"><br>
                    <button type="submit" value="View Time Capsule" onclick="viewTimeCapsule()">
                        View!
                    </button>
                </form>
                <div id="response" class="hide">
                    <span><b><u>Content</u></b></span><br><br>
                    <span id="time_capsule_content"></span><br><br>
                    <button onclick="saveCapsule()">Save as txt file</button>
                </div>
            </div>
        </div>
        <div id="toast" class="hide"></div>
        <div id="my-capsules" onclick="toggleSaved()">
            <h4>My Time Capsules</h4>
            <div id="capsule-list">
                <ul id="saved-capsules">
                    <!-- Will be populated -->
                </ul>
            </div>
            <button onclick="clearSaved()" id="clear-saved-btn" class="hide">Clear Saved Capsules</button>
        </div>
        <div id="loading" class="hide">
            <div id="loader">
                <img src="{{ url_for('static', filename='img/loader.svg') }}" alt="Loading..." width="50" height="50">
            </div>
        </div>
    </body>
</html>